## .NET gitignore

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# dotnet tool
.dotnet/
tools/

# NuGet
*.nupkg
*.snupkg
packages/
!**/packages/repositories.config
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# Test results
TestResults/
[Tt]est[Rr]esult*/
*.trx
coverage*/

# OS
.DS_Store
Thumbs.db
